conky.config = {
	alignment = 'middle_right',
	background = false,
	border_width = 1,
	cpu_avg_samples = 2,
	default_color = 'orange',
	default_outline_color = 'white',
	default_shade_color = 'grey',
	draw_borders = false,
	draw_graph_borders = true,
	draw_outline = false,
	draw_shades = false,
	default_bar_height = 4,
	default_bar_width = 30,
	font = 'Roboto Condensed:size=9',
	gap_x = 5,
	gap_y = -150,
	minimum_width = 250,
	net_avg_samples = 2,
	no_buffers = true,
	out_to_console = false,
	out_to_stderr = false,
	extra_newline = false,
	own_window = true,
	own_window_class = 'Conky',
	own_window_transparent = true,
	own_window_type = 'desktop',
	own_window_argb_visual = true,
	own_window_argb_value = 128,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
	pad_percents = 2,
	stippled_borders = 0,
	update_interval = 1,
	uppercase = false,
	use_spacer = 'none',
	use_xft = true,
	show_graph_scale = false,
	show_graph_range = false
}

conky.text = [[
${if_mpd_playing}${mpd_artist}${endif}${alignr}${time %a %d %b}
${if_mpd_playing}${font 'Roboto Condensed:size=11:style=Bold'}${mpd_title}${endif}${alignr}${font 'Roboto Condensed:size=22:style=Bold'}${time %H:%M}${font}
${if_mpd_playing}${voffset -12}${mpd_bar 4,110} ${if_match "${mpd_random}" == "On"}${font "Symbola:style=Regular"}U+1F500 ${font}${endif} \
${if_match "${mpd_repeat}" == "On"}${font "Symbola:style=Regular"}U+U+21AB ${font}${endif} \
${mpd_album}${endif}
]]