conky.config = {
	alignment = 'top_right',
	background = none,
	border_width = 1,
	-- Regular colors
	color0 = 'grey',
	-- color palette for temperature gradient
	color3 = '1832b0', -- < 50
	color4 = '622185', -- 50-55
	color5 = '931668', -- 55-60
	color6 = 'e4df00', -- 60-65
	color7 = 'ea8900', -- 65-70
	color8 = 'f5002f', -- > 70
	cpu_avg_samples = 2,
	default_color = 'orange',
	default_outline_color = 'white',
	default_shade_color = 'grey',
	draw_borders = false,
	draw_graph_borders = true,
	draw_outline = false,
	draw_shades = false,
	default_bar_height = 4,
	default_bar_width = 30,
	double_buffer = false,
	font = 'Roboto Condensed:size=9',
	gap_x = 5,
	gap_y = 300,
	-- lua_load = '~/.config/conky/conkyhelper.lua',
	lua_load = './conkyhelper.lua',
	lua_startup_hook = 'setup gradient 0 color3 50 color4 55 color5 60 color6 65 color7 70 color8',
	minimum_width = 250,
	minimum_height = 5,
	net_avg_samples = 2,
	no_buffers = true,
	out_to_console = false,
	out_to_stderr = false,
	extra_newline = false,
	own_window = true,
	own_window_class = 'Conky',
	own_window_transparent = false,
	own_window_type = 'desktop',
	own_window_argb_visual = true,
	own_window_argb_value = 128,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
	pad_percents = 2,
	stippled_borders = 0,
	update_interval = 5,
	uppercase = false,
	use_spacer = 'none',
	use_xft = true,
	show_graph_scale = false,
	show_graph_range = false
}

conky.text = [[
${font "Roboto Condensed:style=Bold"}$nodename $font ${alignc} $alignr up $uptime_short
${color0}Processes:$color $processes $alignr ${color0}Running:$color $running_processes
$hr
${color0}RAM$color $memperc%${alignr}${color0}Swap$color $swapperc%
$mem ${membar} $memmax $alignr $swap ${swapbar} $swapmax
${color0}CPU Activity$color $alignr$freq_g GHz
CPU0 ${lua_parse relgoto 30}${cpu cpu1}% ${lua_parse relgoto 50}${cpubar cpu1}${lua_parse colored_temp 0}${lua_parse relgoto 130}
]]